/*// ZERO LIVES LEFT //*/

/* Breakpoint 
- Mobile portrait >= 0px
- Mobile landscape > 450px
- Tablet portrait > 450px portrait
- Tablet Landscape > 900px min aspect 1/1
- Widescreen > 1024px min aspect 16/10
*/

/*// RESET //*/

* {
	box-sizing: border-box;
}

html {
	background-color: black;
}

html,
body,
section,
picture,
figure,
img,
ul,
li {
	margin: 0;
	padding: 0;
	border: none;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: white;
}

/*// VARIABLES //*/

:root {
	--background-light: #f6f6f6;
	--background-dark: #ececec;
	--font-main: #666666;
	--font-grey: #828282;
	--font-light: #eaeaea;
	--font-white: white;
	--brand-red: #bf3e3c;
	--brand-purple: #6e4b74;
	--brand-grey: #424242;
	--brand-blue: #51667d;
	--tag-green: green;
	--tag-orange: orange;
	--tag-grey: lightgrey;
}

@mixin redtopurple {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf3e3c+0,6e4b74+100 */
	background: rgb(191, 62, 60);
	/* Old browsers */
	background: -moz-linear-gradient(left, rgba(191, 62, 60, 1) 0%, rgba(110, 75, 116, 1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(191, 62, 60, 1) 0%, rgba(110, 75, 116, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(191, 62, 60, 1) 0%, rgba(110, 75, 116, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf3e3c', endColorstr='#6e4b74', GradientType=1);
	/* IE6-9 */
}

@mixin paddingLeft($pl) {
	h2 {
		padding-left: $pl;
	}

	h3 {
		padding-left: $pl;
	}

	.frame_tag {
		padding-left: $pl;
	}

	p {
		padding-left: $pl;
	}
}

/*// GLOBAL TYPOGRAPHY //*/

html {
	font-size: 16px;
}

@media screen and (max-width: 400px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 900px) and (orientation: landscape) {
	html {
		font-size: 14px;
	}
}

@media screen and (min-width: 1280px) {

	html {
		font-size: 20px;
	}
}

/*// Font styling //*/

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	letter-spacing: .05em;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

p {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

date {
	color: white;
}

/*// HEADER //*/

.header {
	position: fixed;
	display: block;
	z-index: 10;
	top: 0;
	width: 100%;

	&::after {
		content: '';
		z-index: -1;
		position: absolute;
		top: 0;
		width: 100%;
		height: 30vh;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0+100 */
		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0);
		/* IE6-9 */
	}

	.header_container {
		display: flex;
		flex-flow: row;
		align-items: flex-end;
		height: 40px;

		.header_title {
			position: relative;
			bottom: -5px;
			flex: 0 0 55%;
			padding-left: 5vw;
			margin: 0;
			font-size: 1.3em;

			a {
				color: var(--brand-red);
			}
		}

		.header_slogan {
			position: relative;
			bottom: -20px;
			flex: 0 0 45%;
			font-size: 1em;
			margin: 0;
			padding-right: 5vw;
			text-align: right;
			filter: brightness(1.2);

			a {
				background: linear-gradient(to right, var(--brand-purple) 0%, var(--brand-red) 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;

				span:first-of-type {
					font-size: .8em;
				}
			}
		}
	}

	.hr {
		@include redtopurple();
		z-index: 15;
		margin-top: 0;
		margin-left: 0;
		height: 1px;
		margin-bottom: 6px;
	}

	.header_nav {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: flex-end;
		padding: 0 4vw;
		font-size: .8em;

		ul {

			li {
				display: inline;

				a {
					padding: .5em;
					color: var(--font-light);
				}
			}
		}

		&-info {
			display: none;
		}
	}
}

/* MAIN CONTENT */

body {
	scroll-snap-type: y mandatory;
	overflow-y: auto;
	overflow-x: hidden;
	scroll-padding-top: 0px;
}

img {
	width: 100%;
}

.frame {
	transition: opacity 2s ease-in-out;
	scroll-snap-align: start;
	position: relative;
	display: flex;
	flex-flow: row;

	.frame_container {
		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		height: 100%;

		.frame_content {
			position: absolute;
			background-color: rgba(0, 0, 0, 0.6);
			padding-bottom: 1vh;

			h2,
			h3,
			p {
				padding: 0 5vw;
				transition: opacity .1s linear;
			}

			h2 {
				color: var(--font-light);
				font-size: 1em;
				margin-bottom: .2em;
			}

			h3 {
				color: var(--font-light);
				font-size: .9em;
				margin-top: .2em;
			}

			p {
				font-size: .8em;
			}

			.frame_tag {
				padding-left: 5vw;
				margin-top: -1px;

				span {
					a {
						font-size: .8em;
						display: inline-block;
						padding: .3em;
						border: 1px solid var(--font-light);
						text-transform: uppercase;
						color: var(--font-light);
					}
				}

				date {
					color: var(--font-light);
					padding-left: 6px;
					font-size: .8em;
				}
			}
		}
	}
}

/* Mobile - horizontal orientation */

@media screen and (min-width: 450px) {

	.header {

		.header_container {

			.header_title {
				flex: 0 0 40%;
				padding-left: 8vw;
			}

			.header_slogan {
				font-size: 1.2em;
				flex: 0 0 40%;
				padding-left: 10px;
				text-align: left;
				bottom: -5px;
			}
		}

		.hr {
			height: 1px;
		}

		.header_nav {
			padding-left: 8vw;

			ul {

				li {
					display: inline;

					a {
						padding: .8em;
					}
				}
			}

			&-info {
				display: block;

				a {
					color: var(--font-grey) !important;
				}
			}
		}
	}

	.frame {
		height: 100vh;

		.frame_container {
			width: 100%;

			figure {
				height: calc(var(--vh, 1vh) * 100);
				overflow: hidden;
			}

			img {
				height: auto;
				width: 100%;
			}

			.frame_content {
				height: 100%;
				display: flex;
				flex-flow: column;
				justify-content: flex-end;
				width: 40%;
				padding-bottom: 4vh;

				h2 {
					font-size: 1.2em;
				}

				p {
					font-size: .9em;
				}

				@include paddingLeft(8vw);
			}
		}
	}
}

// Tablet in Portrait

@media screen and (min-width: 450px) and (orientation: portrait) {

	.frame {
		height: 45vh;

		.frame_container {
			img {
				height: 100%;
				width: auto;
			}

			.frame_content {
				padding-bottom: 4vh;

				h2 {
					position: sticky;
					bottom: 50px;
				}
			}
		}
	}
}

// Tablet in Landscape

@media screen and (min-width: 900px) and (orientation: landscape) {

	.frame {
		height: 80vh;

		.frame_container {
			img {
				height: 100%;
				width: auto;
			}

			.frame_content {
				padding-bottom: 6vh;

				h2 {
					position: sticky;
					bottom: 30px;
				}
			}
		}
	}
}

@media screen and (min-width: 1280px) and (min-aspect-ratio: 16/10) {

	html {
		font-size: 20px;
	}

	.header {
		.header_container {
			height: 80px;

			.header_title {
				flex-basis: 35%;
				padding-left: 12vw;
				bottom: -7px;
			}

			.header_slogan {
				bottom: -6px;
			}
		}

		.hr {
			margin-bottom: 10px;
		}

		.header_nav {
			padding-left: 13vw;
			font-size: .9em;
		}
	}

	.frame {
		height: 90vh;

		.frame_container {
			img {
				width: 100%;
				height: auto;
			}

			.frame_content {
				padding-bottom: 10vh;
				width: 35%;

				h2 {
					padding-left: 12vw;
				}

				h3 {
					padding-left: 12vw;
				}

				p {
					padding-left: 12vw;
				}

				.frame_tag {
					padding-left: 12vw;
				}
			}
		}
	}
}

/*// MODIFIERS //*/

.hr {
	border-style: none;
	height: 1px;
	width: 100%;
	z-index: 8;
	background-color: white;
	margin-bottom: 0;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.invisible {
	visibility: hidden;
}

.frame_tag-ga span a {
	background-color: var(--brand-purple);
}

.frame_tag-ar span a {
	background-color: var(--brand-red);
}

.frame_tag-id span a {
	background-color: var(--brand-blue);
}

/*// FOOTER //*/

.footer {
	background-color: var(--brand-grey);
	height: 50vh;
}