/*// RESET //*/

* {
	box-sizing: border-box;
}

html {
	background-color: black;
}

html,
body,
section,
figure,
img,
ul,
li {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: white;
}

/*// VARIABLES //*/

:root {
	--background-light: #f6f6f6;
	--background-dark: #ececec;
	--font-main: #666666;
	--font-grey: #828282;
	--font-light: #eaeaea;
	--font-white: white;
	--brand-red: #bf3e3c;
	--brand-purple: #6e4b74;
	--brand-grey: #424242;
	--tag-blue: blue;
	--tag-green: green;
	--tag-orange: orange;
	--tag-grey: lightgrey;
}

/*// GLOBAL TYPOGRAPHY //*/

html {
	font-size: 16px;
}

@media screen and (max-width: 330px) {
	html {
		font-size: 14px;
	}
}

p {
	color: white;
	font-size: 2em;
}

/*// Font styling //*/

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	letter-spacing: .05em;
	color: white;
}

/*// SCROLL SNAP //*/

body {
	scroll-snap-type: y mandatory;
	overflow-y: auto;
	overflow-x: hidden;
}

/*// HEADER //*/

.header {
	height: 160px;
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0+100 */
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0);
	/* IE6-9 */

	&_title {
		padding-left: 5vw;
		margin: 0;

		a {
			color: rgba(255, 255, 255, 0.5);
			font-size: 1.8em;
		}

		span {
			letter-spacing: .08em;
		}

		span:first-of-type {
			color: var(--brand-red);
		}

		span:last-of-type {
			color: var(--brand-red);
		}
	}

	.hr {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff2323+0,201470+100 */
		background: rgb(255, 35, 35);
		/* Old browsers */
		background: -moz-linear-gradient(left, rgba(255, 35, 35, 1) 0%, rgba(32, 20, 112, 1) 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255, 35, 35, 1) 0%, rgba(32, 20, 112, 1) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255, 35, 35, 1) 0%, rgba(32, 20, 112, 1) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2323', endColorstr='#201470', GradientType=1);
		/* IE6-9 */
		z-index: 15;
	}

	&_nav {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: flex-end;
		margin: 0 4vw;
		&-site {
			a {
				color: var(--font-white);
				opacity: 0.8;
			}
		}
		&-info {
			a {
				color: var(--font-grey);
			}
		}

		ul {

			li {
				display: inline;

				a {
					font-size: 2em;
					padding: .5em;
				}
			}
		}
	}
}

@media screen and (orientation: landscape) {

	.header {
		height: 81px;

		.hr {
			margin-top: .1em;
		}

		&_title {

			a {
				font-size: .8em;
			}
		}

		&_nav {
			margin-left: 9vw;

			ul {

				li {
					display: inline;

					a {
						font-size: 1.2em;
						padding: .8em;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) and (orientation: landscape) {

	.header {
		flex-flow: column;
		height: 121px;
		padding-top: 0;

		&_title {
			width: 100%;
			align-self: flex-end;
			margin: auto;
			margin-bottom: 0;

		}

		.hr {}

		&_nav {
			justify-content: space-between;
			align-items: flex-end;
			height: auto;

			&-site {
				margin-left: 0;
			}
		}
	}
}

/*// BLOCKS - MOBILE //*/

main {
	margin-top: 113px;
}

.frame {
	transition: opacity 2s ease-in-out;
	scroll-snap-align: start;
	height: calc(55vh);
	position: relative;
	border-bottom: 1px solid black;
}

/*// ELEMENTS - MOBILE //*/

.frame_container {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	height: 100%;

	.frame_content {
		background-color: rgba(0, 0, 0, 0.6);
		padding: 2vh 0;

		h2,
		p {
			padding: 0 5vw;
			transition: opacity .1s linear;
		}

		h2 {
			font-size: 1.8em;
			opacity: .8;
		}
	}
}

/*// MODIFIERS - MOBILE //*/

.hr {
	position: relative;
	width: 100%;
	border-style: none;
	height: 2px;
	z-index: 8;
	background-color: white;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.invisible {
	visibility: hidden;
}

@media screen and (orientation: landscape) {

	body {
		scroll-padding-top: 0px;
	}

	main {
		margin-top: 50px;
	}

	h2 {
		font-size: 1.5em;
	}

	p {
		font-size: 1em;
	}

	/*// BLOCKS - WIDE //*/

	.frame {
		height: calc(100vh - 80px);
		background-size: cover !important;

		.frame_container {
			width: 100%;

			.frame_content {
				height: 100%;
				display: flex;
				flex-flow: column;
				justify-content: flex-end;

				h2 {
					position: sticky;
					bottom: 20px;
				}
			}
		}

		/*// FRAME CLIPPING //*/

		/* Right side frames */
		&:nth-child(even) {
			.frame_container {
				margin-right: 0;
				margin-left: auto;

				.frame_content {
					background-color: rgba(255, 255, 255, 0.7);

					h2 {
						color: black;
						text-align: right;
					}

					p {
						color: black;
						text-align: right;
					}

					.hr {
						background-color: black;
					}
				}
			}
		}

		/* Frame 1/6 */
		&:nth-child(6n + 1) {
			.frame_container {
				.frame_content {
					clip-path: polygon(0% 0%, 35% 0%, 45% 100%, 0% 100%);

					h2 {
						width: 45%;
					}

					p {
						width: 45%;
					}
				}
			}
		}

		/* Frame 2/6 */
		&:nth-child(6n + 2) {
			.frame_container {
				.frame_content {
					clip-path: polygon(45% 0%, 100% 0%, 100% 100%, 55% 100%);

					h2 {
						width: 45%;
						margin-right: 0;
						margin-left: auto;
					}

					p {
						width: 45%;
						margin-right: 0;
						margin-left: auto;
					}
				}
			}
		}

		/* Frame 3/6 */
		&:nth-child(6n + 3) {
			.frame_container {
				.frame_content {
					clip-path: polygon(0% 0%, 55% 0%, 65% 100%, 0% 100%);

					h2 {
						width: 55%;
					}

					p {
						width: 55%;
					}
				}
			}
		}

		/* Frame 4/6 */
		&:nth-child(6n + 4) {
			.frame_container {
				.frame_content {
					clip-path: polygon(65% 0%, 100% 0%, 100% 100%, 55% 100%);

					h2 {
						width: 40%;
						margin-right: 0;
						margin-left: auto;
					}

					p {
						width: 45%;
						margin-right: 0;
						margin-left: auto;
					}
				}
			}
		}

		/* Frame 5/6 */
		&:nth-child(6n + 5) {
			.frame_container {
				.frame_content {
					clip-path: polygon(0% 0%, 55% 0%, 45% 100%, 0% 100%);

					h2 {
						width: 45%;
					}

					p {
						width: 45%;
					}
				}
			}
		}

		/* Frame 6/6 */
		&:nth-child(6n + 6) {
			.frame_container {
				.frame_content {
					clip-path: polygon(45% 0%, 100% 0%, 100% 100%, 35% 100%);

					h2 {
						width: 55%;
						margin-right: 0;
						margin-left: auto;
					}

					p {
						width: 55%;
						margin-right: 0;
						margin-left: auto;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
	.frame {
		height: 80vh;
		.frame_container {
			.frame_content {
				h2 {
					bottom: 7vh;
				}
			}
		}
	}

}

/*// BACKGROUNDS //*/

.bg-01 {
	background: url(../img/mobile/cyberpunk.jpg);
}

.bg-02 {
	background: url(../img/mobile/hl2.jpg);
}

.bg-03 {
	background: url(../img/mobile/warframe.jpg);
}

.bg-04 {
	background: url(../img/mobile/ori.jpg);
}

.bg-05 {
	background: url(../img/mobile/dark.jpg);
}

.bg-06 {
	background: url(../img/mobile/twilight.jpg);
}

@media screen and (orientation: landscape) {
	.bg-01 {
		background: url(../img/full/cyberpunk.jpg);
	}

	.bg-02 {
		background: url(../img/full/hl2.jpg);

	}

	.bg-03 {
		background: url(../img/full/warframe.jpg);

	}

	.bg-04 {
		background: url(../img/full/ori.jpg);

	}

	.bg-05 {
		background: url(../img/full/dark.jpg);
	}

	.bg-06 {
		background: url(../img/full/twilight.jpg);
	}
}